$body-color-bg: #ddd;

.view-layout {
  display: flex;
  flex: 1;

  .view {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 75px 50px 50px 50px;

    .view-nested {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
