.btn {
  display: flex;
  font-size: 16px;
  line-height: 1;
  background-color: $color-white;
  border: 2px solid $color-black;
  border-radius: 5px;
  padding: 10px 15px 9px;

  &:focus {
    outline: none;
  }

  .icon {
    margin-right: 10px;
  }

  &.btn-primary {
    color: $color-white;
    background-color: $color-primary-1-normal;
    border-color: $color-primary-1-normal;

    &:hover {
      background-color: darken($color-primary-1-normal, 15%);
      border-color: darken($color-primary-1-normal, 15%);
    }
  }

  &.btn-secondary {
    color: $color-primary-1-normal;
    background-color: transparent;
    border-color: $color-primary-1-normal;

    &:hover {
      color: darken($color-primary-1-normal, 15%);
      border-color: darken($color-primary-1-normal, 15%);
    }
  }

  &.btn-link {
    color: $color-primary-1-normal;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: darken($color-primary-1-normal, 15%);
    }
  }
}