.fieldSet {
  @extend .row;
  margin-bottom: 10px;

  label {
    flex-basis: 20%;
    text-align: right;
    padding: 8px 15px 0 0;
    height: 30px;
    margin: 0;
  }

  input,
  textarea,
  .inputField-editor {
    flex-basis: 80%;
  }

  textarea {
    height: 75px;
  }
}

.buttonSet {
  @extend .row;
  justify-content: flex-end;
  margin: 30px 0;

  & > button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}