.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

// Medium - Tablet portrait
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
(min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
(min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3),
(min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
(min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2),
(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .container {
    width: 750px;
  }
}

// Large - Desktop, Tablet landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape),
(min-width : 1200px) {
  .container {
    width: 1000px;
  }
}


.container {
  &.container-fluid {
    width: 100%;
  }
}